.footer{
    background-color: #1E2833;
    @include adaptiv-value('padding-top', 60, 30, 1);
    @include adaptiv-value('padding-bottom', 60, 30, 1);
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 40px;
        }
    }
    &__logo{
        img{
            max-width: 170px;
        }
    }
    &__copyright{
        color: #FFFFFF;
        font-size: 14px;
        opacity: .7;
    }
    &__social{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            transition: .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}